<div class="row" *ngFor="let member of members | async">
   <div class="col s12 m6">
     <div class="card">
       <div class="card-image">
         <img src={{member.imgURL}} alt={{member.imgAlt}}>
         <span class="card-title">{{member.lastName}}, {{member.firstName}}</span>
         <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">Details</i></a>
       </div>
       <div class="card-content">
         <h3>Illuminati Name: {{member.illuminatiNickname}}</h3>
         <h3>Sector of influence: {{member.sectorOfInfluence}}</h3>
         <h3>Role: {{member.role}}</h3>
         <h3>Influence quotient: {{member.influenceQuotient}}</h3>
         <p>{{member.salientDetails}}</p>
       </div>
     </div>
   </div>
 </div>
