<nav class="ink-navigation">
  <ul class="menu horizontal black">
    <!-- <li class="heading active"><a href="#">Home</a></li> -->
    <li class="heading">
      <a (click)="toggleLoginDisplay()">Admin Login</a>
    </li>
    <li class="heading">
      <a routerLink='about'>About</a>
    </li>
    <li>
      <a routerLink='members'>Members</a>
    </li>
    <li>
      <a *ngIf="adminStatus" routerLink='admin'><span class="fa fa-plus"></span>Induct Member</a>
    </li>
  </ul>
</nav>

<div class="row" *ngIf="loginDisplay">
  <div class="col s4">
  </div>
   <form class="col s4 card" #formData='ngForm' (ngSubmit)="onSubmit(formData)">
     <div class="row">
       <div class="input-field col s6">
         <label for="username"><i class="fa fa-user-circle"></i>Username</label><br>
         <input id="username" type="text" class="validate" placeholder=null>
       </div>
       <div class="input-field col s6">
         <label for="password"><i class="fa fa-lock"></i> Password</label><br>
         <input id="password" type="text" class="validate" placeholder=null>
       </div>
       <button type="submit" class="waves-effect waves-light btn" [disabled]="!formData.valid">Log in</button>
     </div>
   </form>
   <div class="col s4">
   </div>
 </div>

<router-outlet></router-outlet>
